.Battery{
    border: 1px solid black;
    height: 8rem;
    width: 5rem;
    display: inline-block;
}
.top{
    border: 3px solid;
    width: 3rem;
    display: block;
    margin-left: 1rem;
}
.text{
    width: 15rem;
    height: 2rem;
    border-radius: 2px;
    margin-bottom: 2rem;
    border: 1px solid;
}
.text:focus{
    border: 2px solid;
    outline: none;
}
.btn {
    font-family: "Lato-regular";
    cursor: pointer;
    background-color: #232e72;
    color: #fff;
    border: 1px solid transparent; }
.btn:focus {
    outline: 1px dotted #333;
    outline-offset: 1px;
}
.btn-primary {
    height: 2rem;
    min-width: 5rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    padding: 0 1.5rem;
}